@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  /* background-color: #F8F9FB; */
  /*-webkit-font-smoothing: antialiased;*/
}
body {
  background-color: #F8F9FB;
}
:root {
  --mainBlue: #4F7FFF;
  --mainWhite: #fff;
  --mainBlack: #000;
  --mainGrey60: #697077;
  --mainGrey20: #DDE1E6;
  --mainRed: #DA1E28;
  --mainGreen: #24A148;
}
.container {
  max-width: 1344px;
  width: 100%;
  margin: 0 auto;
  padding: 0 48px;
}
#root {
  position: relative;
  background-color: #F8F9FB;

.active {
  font-weight: bold!important;
}